.menu-top
{
    position: relative;
width: 100%;
    font-size: 17px;
    text-align: center;
    
    

}
.menu-item
{
   margin-left: 20px 
}
.header-avatar
{
position: absolute;
top: 8px;
right: 400px;
cursor: pointer;
}
.unregister
{
    padding: 5px 10px 5px 10px;
}
.unregister:hover 
{
background-color:rgb(246,246,246) ;
cursor: pointer;

}
.badge
{
    
}
